%hr
.field
  = f.label :password
  %i (leave blank if you don't want to change it)
  = f.password_field :password, autocomplete: "off"
.field
  = f.label :password_confirmation
  = f.password_field :password_confirmation, autocomplete: "off"
%hr