#tag-cloud
  %ul.tags
    - tag_cloud Pic.tag_counts.order('count DESC').limit(100).sort_by{|tag| tag.name}, %w[s m l xl xxl] do |tag, css_class|
      %li.tag{:class=>css_class}
        = render '/tags/linkedTag', :tag => tag