%section
  %h1
    %i.fa.fa-photo
    Pics

  %ul
    - @pics.each do |pic|
      %li
        =link_to(pic) do
          = render "thumbnail", {:pic => pic}

  =will_paginate @pics, previous_label: h("<"), next_label: h(">"), :class=>'pagination right'

%section#tags
  = render "tag_cloud"