%section
  .alpha-title
    .container.no-padding
      = image_tag(image_path('icons/apple-touch-icon-114x114-precomposed.png'))

  .alpha
    .container
      %ul
        - @pics.each do |pic|
          %li
            =link_to(pic) do
              = render "thumbnail", {:pic => pic}
  .container
    = will_paginate @pics, previous_label: h("<"), next_label: h(">"), :class=>'pagination right'

%section
  .beta-title
    .container
      %h2
        %i.fa.fa-tag
        Tags
  .beta
    .container
      = render "tag_cloud"