.row
  .columns
    %h1
      Listing pics
    %ul.large-block-grid-8
      - @pics.each do |pic|
        %li
          =link_to(pic) do
            - if pic.tag_list.include? 'nsfw'
              .inline.thumbnail{ :class => [pic.dimensionHtmlClass, 'nsfw'] }
            - else
              .inline.thumbnail{ :style => "background-image: url(#{pic.image(:thumb)});", :class => (pic.dimensionHtmlClass) }
      %br
.clearfix
.row
  .columns
    =will_paginate @pics, previous_label: h("<"), next_label: h(">"), :class=>'pagination right'
    %br
    = link_to '+ New Pic', new_pic_path, :class=>'button green-button'
%hr
.row
  #tag-cloud.columns
    %h3
      Tag Cloud
    %ul.tags
      - tag_cloud Pic.tag_counts, %w[s m l] do |tag, css_class|
        %li
          = link_to tag.name, tag_path(tag.name), class: css_class