%section
  .alpha-title
    .container
      %h1
        %i.fa.fa-tag
        = @prefix.upcase
  .alpha
    .container
      = render "/tags/indexes"
    .container
      %ul.tags
        - @tags.each do |tag|
          %li.tag
            = render '/tags/linkedTag', :tag => tag
  = will_paginate @tags, previous_label: h("<"), next_label: h(">"), :class=>'pagination right'