%section
  .alpha-title
    .container
      %h1
        %i.fa.fa-tags
        All Tags
  .alpha
    .container
      = render "/tags/indexes"
    .container
      - @groupedTags.each do |group|
        .tag-group
          %h3
            = group[0]
          %ul.tags
            - group[1].each do |tag|
              %li.tag
                = render '/tags/linkedTag', :tag => tag
      = will_paginate @tags, previous_label: h("<"), next_label: h(">"), :class=>'pagination right'