/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= 
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require sweet-alert
 *= require jquery-ui
 *= require jquery.tagit
 *= require colorbox
 */

@import "colours";
@import "fonts";
@import "foundation_and_overrides";

body {
    // padding: 1.5em;
}

#top-bar {
    font-family: 'Amaranth', sans-serif;
    background: $chocolate-milk;
    height: 2.2em;
    margin: 0 0 1.5em 0;
    font-size: 1.5em;
    line-height: 2.2em;
    padding-left: .5em;
    color: $cold-tea;
    a {
        color: $cold-tea;
        &:hover{
            color: $cream-tea;
        }
    }
}

ul.tagit {
}

.inline{
    display: inline-block;
}

.thumbnail {
    height: 120px;
    width: 120px;
    background: center center;
    background-repeat: no-repeat;
    background-size: 150px;
    transition: background-size .075s ease-in-out;
    
    &:hover{
        cursor: pointer;
        background-size: 120px auto;
    }

    &.portrait {
            background-size: 150px auto;
            &:hover {
                background-size: 120px auto;
            }
    }

    &.landscape {
            background-size: auto 150px;
            &:hover {
                background-size: auto 120px;
            }
    }
}
