/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= 
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require sweet-alert
 *= require jquery-ui
 *= require jquery.tagit
 *= require colorbox

 */

@import "colours";
@import "fonts";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation_and_overrides";

body {
    // padding: 1.5em;
}

#top-bar {
    @include cabin-font;
    background: $chocolate-milk;
    height: 52px;
    margin: 0 0 1.5em 0;
    color: $cold-tea;

    #user-controls {
        text-align: right;
    }

    a {
        color: $cold-tea;
        &:hover{
            color: $cream-tea;
        }
    }
    
    .title {
        @include amaranth-font;
        font-size: 1.5em;
        line-height: 2.2em;
        padding-left: .5em;
    }

}

#notice {
    color: #fff;
    background: $mint-shake;
    padding: .75em 0;
    margin: -1.5em 0 1.5em;
}

#alert {
    @extend #notice;
    color: $chocolate-milk;
    background: $pumpkin;
}

ul.tagit {
}

.tagit-ajax-message {
    position: absolute;
    top: 84px;
    right: 29px;
    &.success {
        color: $wheatgrass-juice;
    }
}

#tag-cloud {

    margin-bottom: 2em;

    ul.tags {
        margin: 0;
    }

    .tag {

        a {
            color: inherit;
        }

        display: inline-block;
        margin-right: 0.25em;
        background: $cold-tea;
        padding: .2em .8em;
        font-size: 1.0em;
        font-weight: normal;
        @include radius(5px);


        &.xxl {
            background: $xxl-tag;
            color: darken($xxl-tag, 40%);
        }
        &.xl {
            background: $xl-tag;
            color: darken($xl-tag, 40%);
        }
        &.l {
            background: $l-tag;
            color: darken($l-tag, 40%);
        }
        &.m {
            background: $m-tag;
            color: darken($m-tag, 40%);
        }
        &.s {
            background: $s-tag;
            color: darken($s-tag, 40%);
        }
    }
}

ul.tagit-autocomplete{
    font-size: 1em;
    @include cabin-font;

     li.ui-menu-item {
         position: relative;
         margin: 0;
         padding: 3px 1em 3px .4em;
         cursor: pointer;
         min-height: 0;

         &.ui-state-focus {
            border: none;
            background: $tag;
            font-weight: normal;
            color: darken($tag, 40%);
         }

     } 


}

ul#tagit-field {
    font-size: 1em;
    @include cabin-font;
    
    li.tagit-new {
        margin: 0;
        padding: 0;
    }

    input {
        font-size: inherit;
        font-family: inherit;
        margin-left: .5em;
    }

    li.tagit-choice{
        border: none;
        background: $tag;
        font-weight: normal;
        color: darken($tag, 40%);
        .tagit-label {
            font-size: 1em;
        }
        .ui-icon.ui-icon-close {
            background-image: image-url('tag/tag_btn_icons_blue.png');
            background-position: -80px -128px;
        }
        &.remove {
            background: $xxl-tag;
            color: darken($xxl-tag, 40%);
            .ui-icon.ui-icon-close {
                background-image: image-url('tag/tag_btn_icons_white.png');
            }
        }
    }
}

.inline {
    display: inline-block;
}

$thumbnail-size: 115px;

.thumbnail {
    height: $thumbnail-size;
    width: $thumbnail-size;
    background: center center;
    background-repeat: no-repeat;
    background-size: $thumbnail-size*1.25;
    transition: background-size .075s ease-in-out;

    &:hover{
        cursor: pointer;
        background-size: $thumbnail-size auto;
    }

    &.portrait {
            background-size: 150px auto;
            &:hover {
                background-size: $thumbnail-size auto;
            }
    }

    &.landscape {
            background-size: auto 150px;
            &:hover {
                background-size: auto $thumbnail-size;
            }
    }

    &.nsfw {
        background: image-url('pic/nsfw.png') center center;
        background-size: $thumbnail-size*1.25;
    }
}

.pagination {

    height: 28px;
    font-size: 16px;
    color: #999;

    @mixin page-buton{
        @include radius();
        display: inline-block;
        margin: 0;
        color: white;
        border: 1px solid;
        height: 24px;
        min-width: 24px;
        padding: 0 .2em;
        text-decoration: none;
        line-height: 24px;
        text-align: center;
    }

    a, span {
        @include page-buton;
        background: $mint-shake;
        border-color: $wheatgrass-juice;
        &:hover, &:focus {
            background: $wheatgrass-juice;
        }
    }

    .disabled {
        color: #aaaaaa;
        display: none;
    }

    .current, em {
        @include page-buton; 
        font-style: normal !important;
        font-weight: bold;
        background: $tomato-juice;
        border-color: $strawberry-daiquiri;
        padding: 0 .2em;
    }

}
