@mixin cabin-font {
    font-family: 'Cabin', sans-serif;
}

@mixin hammersmith-font {
    font-family: 'Hammersmith One', sans-serif;
}

@mixin amaranth-font {
    font-family: 'Amaranth', sans-serif;
}