// Fonts
$cabin-font: 'Cabin', sans-serif;
$hammersmith-font: 'Hammersmith One', sans-serif;
$amaranth-font: 'Amaranth', sans-serif;

// Colours
$chocolate-milk: #5c5045;
$cold-tea: #d2ccc4;
$cream-tea: #dfc9b6;
$tomato-juice: #dd6d5a;
$strawberry-daiquiri: #ef4d3c;
$mint-shake: #91bdab;
$wheatgrass-juice: #56be7f;
$pumpkin: #f8a330;
$squash: #ebd162;
$blue-milk: #b6e1e0;
$denim: #5586ab;
$porridge: #f8f5ed;
$acai: #555560;
$seafoam: #74acba;

$xxl-tag: #f39ea2;
$xl-tag: #eeb7b7;
$l-tag: #e9c9be;
$m-tag: #e9d5c5;
$s-tag: #ebe1d4;
$tag: #b7d8ee;