%nav#top-bar
  %ul
    %li
      =link_to 'Pindus', pics_path, :class => 'title'
    %li
      - if can? :create, Pic
        = link_to new_pic_path, :class => 'button upload' do 
          %i.fa.fa-lg.fa-upload
          &nbsp; New Pic

  %ul#user-controls
    
    - if user_signed_in?
      %li
        = link_to current_user.email, edit_user_registration_path
      \|
      %li
        = link_to destroy_user_session_path, :method => 'delete' do
          %i.fa.fa-lg.fa-external-link-square
          Log Out
    - else
      %li
        = link_to 'Log in', new_user_session_path