#top-bar
  .row
    .columns.large-1.title
      =link_to 'Pindus', pics_path
    .columns.large-11
      #user-controls.right
        - if user_signed_in?
          Hello 
          = link_to current_user.email, edit_user_registration_path
          %br
          = link_to 'Log out', destroy_user_session_path, :method => 'delete'
        - else
          = link_to 'Log in', new_user_session_path