body {
    margin: 0;
}
h1 {
    font-size: $base-font-size * 3;
}
h2 {
    font-size: $base-font-size * 2.5;
}
h3 {
    font-size: $base-font-size * 2.1;
}
h4 {
    font-size: $base-font-size * 1.5;
}
.no-padding {
    padding: 0 !important;
}
$mobile: new-breakpoint(max-width 500px 4);

nav#top-bar {
    @include clearfix;
    font-family: $cabin-font;
    background: $acai;
    color: #f3f9fd;
    padding: 0 1em;
    line-height: normal;
    ul {
        float: left;
        text-align: left;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 1em;
        }
    }
    .title {
        font-family: $amaranth-font;
        font-size: 1.5em;
    }
    a {
        color: inherit;
        padding: 1em;
        display: inline-block;
        &:hover {
            color: #a6d5e8;
        }
    }
    ul#user-controls {
        float: right;
        text-align: right;
        @include media($mobile) {
        display: inline-block;
        
        li {
            display: inline-block;
            margin-right: .5em;
        }
    }
    }
}
#notice {
    color: #fff;
    background: $mint-shake;
    padding: 1.25em;
}
#alert {
    @extend #notice;
    color: $chocolate-milk;
    background: $pumpkin;
}
.container {
    @include outer-container;
    padding: 1.5em;
    @include media($mobile) {
        padding: .5em;
    }
}
.top-button {
    a {
        span.label {
            @include media($mobile) {
                display: none;
            }
        }
    }
}
.top-button.user {
    a{
         @include media($mobile) {
            display: none !important;
        }
    }

}



.right {
    float: right;
}
.alpha {
    padding: 1.5em;
    @include clearfix;
}
.beta {
    @extend .alpha;
    background: $pulp;
}
.alpha-title {
    background: $spearmint;
    padding: 1.5em;
    h1, h2 {
        color: $acai;
        margin: 0;
    }
}
.beta-title {
    @extend .alpha-title;
    background: $tomato-juice;
    h1, h2 {
        color: $cream-tea;
    }
}
